doc/*/_build
doc/*/_templates
doc/*/*.tar.gz

examples/ros2/build
examples/ros2/install
examples/ros2/log

build/
aimdk_msgs_install/
hal_msgs_install/
planning_msgs_install/
ros2_plugin_proto_install/
log/
tmp/
install/

.idea
.vscode
.cache

protocol.proto
*_pb2.py
*_ros2.py
*.egg-info
*.whl
dist/
__pycache__/

proto2md/markdown/

